# Binaries
/valet
*.exe
*.out
coverage.out

# Data
*.db
*.db-journal
*.db-wal
*.db-shm

# Go
/vendor/

# Demo secrets
demo/.env
.env

# Editors
.idea/
.vscode/
*.swp

# python
__pycache__/
*.egg-info/
.pytest_cache/
demo-state.json
